@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.text-up {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    margin-left: -320px;
}

.colemns {
    display: flex;
}

.colemn {
     margin-left: 105px;
}
